{
  "openapi": "3.0.0",
  "info": {
    "title": "twoflags",
    "version": "1.0",
    "description": "All things API on twoflags",
    "contact": {
      "name": "Dev Team",
      "url": "https://twoflags.io/contact",
      "email": "dev@twoflags.io"
    },
    "termsOfService": "https://twoflags.io/tos",
    "license": {
      "name": "MIT",
      "url": "https://twoflags.io/licence"
    }
  },
  "servers": [
    {
      "url": "https://api.twoflags.io",
      "description": "Production"
    },
    {
      "url": "https://resolver.twoflags.io",
      "description": "Production Resolver"
    }
  ],
  "paths": {
    "/flags": {
      "get": {
        "summary": "Get all User's Flags",
        "tags": [
          "flags"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "Array of Feature Flags",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "boolean",
                              "number",
                              "egment",
                              "tring"
                            ]
                          },
                          "name": {
                            "type": "string"
                          },
                          "active": {
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "slots": {
                      "type": "number",
                      "description": "Remaining Feature Flags slots"
                    }
                  }
                },
                "examples": {
                  "example-no-flags": {
                    "value": {
                      "data": [],
                      "slots": 100
                    }
                  },
                  "example-with-flags": {
                    "value": {
                      "data": [
                        {
                          "id": "maintenance",
                          "type": "boolean",
                          "name": "Site Maintenance",
                          "description": "Puts web site on maintenance mode"
                        },
                        {
                          "id": "intercomid",
                          "type": "APIKey",
                          "name": "Intercom ID",
                          "description": "Intercom API Key"
                        }
                      ],
                      "slots": 98
                    }
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "operationId": "get-flags",
        "description": "Get all Feature Flags",
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": []
      },
      "post": {
        "summary": "Create a New Flag",
        "operationId": "post-flags",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Create a new Feature Flag",
        "security": [
          {
            "Authorization": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "string",
                      "boolean",
                      "number",
                      "segment"
                    ]
                  },
                  "active": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "id",
                  "name",
                  "type",
                  "active"
                ]
              },
              "examples": {
                "example-1": {
                  "value": {
                    "id": "intercomid",
                    "type": "APIKey",
                    "name": "Intercom ID",
                    "active": true
                  }
                }
              }
            }
          },
          "description": "The body of the request is exactly the Flag data"
        },
        "tags": [
          "flags"
        ]
      },
      "delete": {
        "summary": "Delete a Flag",
        "operationId": "delete-flags",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found if `id` doesn't exists"
          }
        },
        "description": "",
        "security": [
          {
            "Authorization": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  }
                },
                "required": [
                  "id"
                ]
              },
              "examples": {
                "example-1": {
                  "value": {
                    "id": "maintenance"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "flags"
        ]
      },
      "parameters": [],
      "patch": {
        "summary": "Update a Flag",
        "operationId": "patch-flags",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Update a Feature Flag. `id` and `type` properties cannot be changed.",
        "security": [
          {
            "Authorization": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "string",
                      "number",
                      "boolean",
                      "segment"
                    ]
                  },
                  "active": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "id"
                ]
              },
              "examples": {
                "example-1": {
                  "value": {
                    "id": "intercomid",
                    "type": "APIKey",
                    "name": "Intercom ID",
                    "active": true
                  }
                },
                "example-2": {
                  "value": {
                    "id": "intercomid",
                    "active": false
                  }
                }
              }
            }
          }
        },
        "tags": [
          "flags"
        ]
      }
    },
    "/environments": {
      "get": {
        "summary": "Gets all User's Environments",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "description": "Array of Environments",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "origins": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "slots": {
                      "type": "number",
                      "description": ""
                    }
                  }
                },
                "examples": {
                  "example-empty": {
                    "value": {
                      "data": [],
                      "slots": 10
                    }
                  },
                  "example-multi": {
                    "value": {
                      "data": [
                        {
                          "id": "development",
                          "name": "Development",
                          "origins": [
                            "localhost",
                            "master.theapp.com"
                          ]
                        }
                      ],
                      "slots": 9
                    }
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "origins": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "slots": {
                      "type": "number"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "data": [
                        {
                          "id": "development",
                          "name": "Development",
                          "origins": [
                            "localhost",
                            "master.theapp.com"
                          ]
                        }
                      ],
                      "slots": 9
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-environments",
        "description": "Get all Environments",
        "parameters": [],
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "environments"
        ]
      },
      "parameters": [],
      "post": {
        "summary": "Create an Environment",
        "operationId": "post-environments",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "412": {
            "description": "Limits reached"
          }
        },
        "description": "Create a new Environment",
        "security": [
          {
            "Authorization": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "origins": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "id",
                  "name",
                  "origins"
                ]
              },
              "examples": {
                "example-1": {
                  "value": {
                    "id": "development",
                    "name": "Development",
                    "origins": [
                      "localhost",
                      "master.theapp.com"
                    ]
                  }
                }
              }
            }
          },
          "description": "Environment data"
        },
        "tags": [
          "environments"
        ]
      },
      "delete": {
        "summary": "Delete an Environment",
        "operationId": "delete-environments",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found if id doesn't exists"
          }
        },
        "description": "Delete an Environment",
        "security": [
          {
            "Authorization": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  }
                },
                "required": [
                  "id"
                ]
              },
              "examples": {
                "example-1": {
                  "value": {
                    "id": "production"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "environments"
        ]
      },
      "patch": {
        "summary": "Update an Environment",
        "operationId": "patch-environments",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "412": {
            "description": "Precondition Failed"
          }
        },
        "description": "Update a Environment, the id property cannot be changed.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "origins": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "id"
                ]
              },
              "examples": {
                "example-1": {
                  "value": {
                    "id": "development",
                    "name": "Development",
                    "origins": [
                      "localhost",
                      "master.theapp.com"
                    ]
                  }
                },
                "example-2": {
                  "value": {
                    "id": "development",
                    "name": "Development"
                  }
                }
              }
            }
          },
          "description": ""
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "environments"
        ]
      }
    },
    "/namespaces": {
      "get": {
        "summary": "Get all User's Namespaces",
        "tags": [
          "namespaces"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "slots": {
                      "type": "number"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "data": [
                        {
                          "id": "front-end",
                          "name": "Front-end App"
                        },
                        {
                          "id": "back-end",
                          "name": "Back-end Service"
                        }
                      ],
                      "slots": 18
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-namespaces",
        "description": "Get all Namespaces",
        "security": [
          {
            "Authorization": []
          }
        ]
      },
      "post": {
        "summary": "Create or Update a Namespace",
        "operationId": "post-namespaces",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Create a new Namespace",
        "security": [
          {
            "Authorization": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "required": [
                  "id",
                  "name"
                ]
              },
              "examples": {
                "example-1": {
                  "value": {
                    "id": "main-app",
                    "name": "Main App"
                  }
                }
              }
            }
          },
          "description": "A full Namespace data object"
        },
        "tags": [
          "namespaces"
        ]
      },
      "delete": {
        "summary": "Delete a Namespace",
        "operationId": "delete-namespaces",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  }
                },
                "required": [
                  "id"
                ]
              },
              "examples": {
                "example-1": {
                  "value": {
                    "id": "back-app"
                  }
                }
              }
            }
          },
          "description": ""
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "tags": [
          "namespaces"
        ]
      },
      "patch": {
        "summary": "Update a Namespace",
        "operationId": "patch-namespaces",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Update a Namespace",
        "security": [
          {
            "Authorization": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "required": [
                  "id",
                  "name"
                ]
              },
              "examples": {
                "example-1": {
                  "value": {
                    "id": "back-end",
                    "name": "Back-end Service"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "namespaces"
        ]
      }
    },
    "/values": {
      "get": {
        "summary": "Get Flag Value",
        "tags": [
          "values"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "flag1": "Value1",
                      "flag2": null,
                      "flagN": "ValueN"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-values",
        "security": [
          {
            "Authorization": []
          }
        ],
        "description": "Gets all Flag values for a Environment/Namespace (Flags not present in Namespace will return null values)",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "env",
            "description": "Environment ID",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "ns",
            "description": "Namespace ID",
            "required": true
          }
        ]
      },
      "parameters": [],
      "patch": {
        "summary": "Update a Value on a Environment/Namespace",
        "operationId": "patch-values",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Update flag value on Environment/Namespace",
        "security": [
          {
            "Authorization": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "environment": {
                    "type": "string"
                  },
                  "namespace": {
                    "type": "string"
                  },
                  "id": {
                    "type": "string"
                  },
                  "value": {
                    "type": [
                      "string",
                      "number",
                      "boolean"
                    ]
                  }
                },
                "required": [
                  "environment",
                  "namespace",
                  "id",
                  "value"
                ]
              },
              "examples": {
                "example-1": {
                  "value": {
                    "environment": "local",
                    "namespace": "front-end",
                    "id": "feature002",
                    "value": 50
                  }
                },
                "example-2": {
                  "value": {
                    "environment": "local",
                    "namespace": "front-end",
                    "id": "maintenance",
                    "value": true
                  }
                }
              }
            }
          }
        },
        "tags": [
          "values"
        ]
      }
    },
    "/apikeys": {
      "get": {
        "summary": "Get User's API Keys",
        "tags": [
          "apikeys"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "created_by": {
                            "type": "string",
                            "description": ""
                          },
                          "created_at": {
                            "type": "string",
                            "description": "ISO Date String"
                          },
                          "last_used": {
                            "type": "string",
                            "description": "ISO Date String"
                          }
                        }
                      }
                    },
                    "slots": {
                      "type": "number"
                    }
                  }
                },
                "examples": {
                  "example-empty": {
                    "value": {
                      "data": [],
                      "slots": 10
                    }
                  },
                  "example-2": {
                    "value": {
                      "data": [
                        {
                          "id": "circleci",
                          "created_by": "johndaly",
                          "created_at": "<iso date>",
                          "last_used": "<iso date>"
                        }
                      ],
                      "slots": 9
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-apikeys",
        "security": [
          {
            "Authorization": []
          }
        ],
        "description": "This endpoint doesn't return the actual values of the API Keys. That value is only returned once on the Create API Key endpoint."
      },
      "post": {
        "summary": "Create API Key",
        "operationId": "post-apikeys",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "created_by": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string"
                    },
                    "last_used": {
                      "type": "string"
                    },
                    "key": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "id": "circleci",
                      "key": "<uuid4>",
                      "created_by": "johndaly",
                      "created_at": "<iso date>",
                      "last_used": null
                    }
                  }
                }
              }
            }
          },
          "412": {
            "description": "Limits reached"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  }
                },
                "required": [
                  "id"
                ]
              },
              "examples": {
                "example-1": {
                  "value": {
                    "id": "circleci"
                  }
                }
              }
            }
          }
        },
        "description": "Creates an API Key, it returns the full API Key object including the actualy Key, this is the only time the key is shared on the API.",
        "tags": [
          "apikeys"
        ]
      },
      "delete": {
        "summary": "Delete an API Key",
        "operationId": "delete-apikeys",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found if id doesn't exists"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  }
                },
                "required": [
                  "id"
                ]
              },
              "examples": {
                "example-1": {
                  "value": {
                    "id": "circleci"
                  }
                }
              }
            }
          }
        },
        "description": "Deletes an API Key",
        "tags": [
          "apikeys"
        ]
      }
    },
    "": {
      "get": {
        "summary": "Feature Flags Resolver",
        "tags": [
          "resolver"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "environment": {
                      "type": "string"
                    },
                    "namespace": {
                      "type": "string"
                    },
                    "flags": {
                      "type": "object"
                    }
                  }
                },
                "examples": {}
              }
            }
          }
        },
        "operationId": "get-resolver",
        "requestBody": {},
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "acc",
            "description": "Account ID",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "ns",
            "description": "Namespace",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "env",
            "description": "Environment"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "cor",
            "description": "Correlation ID"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "origin",
            "description": "The origin is used to identify the environment on Frontend applications. For Backend applications use the environment parameter."
          }
        ],
        "description": "This is the endpoint Client SDK uses to consume the Feature Flags. "
      },
      "parameters": []
    },
    "/flags/selector": {
      "post": {
        "summary": "Update Flag Selector",
        "operationId": "post-flags-selectors",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "op": {
                    "type": "string",
                    "enum": [
                      "push",
                      "pop",
                      "shift",
                      "unshift"
                    ]
                  },
                  "label": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                },
                "required": [
                  "id",
                  "op",
                  "label",
                  "value"
                ]
              },
              "examples": {
                "example-1": {
                  "value": {
                    "id": "sentry-id",
                    "op": "push",
                    "label": "Test Account 3",
                    "value": "50ca647d-2563-44c8-9315-914e60cfb9b6"
                  }
                }
              }
            }
          }
        },
        "description": "",
        "tags": [
          "selectors",
          "flags"
        ]
      },
      "parameters": [],
      "get": {
        "summary": "Get All Flag Selectors",
        "operationId": "get-flags-selectors",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data:": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "label": {
                            "type": "string"
                          },
                          "value": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "slots": {
                      "type": "number"
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "data": [
                        {
                          "label": "Test Environment",
                          "value": "1029009093232"
                        },
                        {
                          "label": "Production Environment",
                          "value": "32789878989842"
                        }
                      ],
                      "slots": 48
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Get Feature Flag Selectors. A Selector is a possible value on a string Feature Flag identified by a name.",
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "id",
            "description": "Feature Flag `id`",
            "required": true
          }
        ],
        "tags": [
          "selectors",
          "flags"
        ]
      },
      "delete": {
        "summary": "Delete a Flag Selector by Index",
        "operationId": "delete-flags-selectors",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Delete a Selector by index",
        "security": [
          {
            "Authorization": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "index": {
                    "type": "number"
                  }
                },
                "required": [
                  "id",
                  "index"
                ]
              },
              "examples": {
                "example-1": {
                  "value": {
                    "id": "sentry-id",
                    "index": 2
                  }
                }
              }
            }
          }
        },
        "tags": [
          "flags",
          "selectors"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "Authorization": {
        "type": "http",
        "scheme": "Bearer"
      }
    },
    "schemas": {}
  }
}